.badge{
    height: 8rem;
    width: 8rem;
    border-radius: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.badge #center-badge{
    width: 80%;
    height: 80%;
    background: linear-gradient(white , rgb(202, 202, 202));
    border-radius: 100%;
    display: flex;
    justify-content: center;
    border-top: solid 6px #CBCCDD;
}
.badge div img{
    object-fit: contain;
    width: 50%;
}

.badge-rock{
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    border-bottom: solid 6px #9B1737;
}
.badge-paper{
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    border-bottom: solid 6px #2845BE;
}
.badge-scissors{
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    border-bottom: solid 6px #C66F0B;
}

#place-0{
    bottom: 6rem;
    right: 60%;
}
#place-1{
    bottom: 6rem;
    left: 60%;
}
#place-2{
    top: 4.5rem;
}

.wait-computer{
    background-color: #131631;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    position: absolute;
    bottom: 6.5rem;
    left: 65%;
}

@media screen and (min-width: 600px){
    .badge{
        height: 12rem;
        width: 12rem;
    }
    #place-0, #place-1{
        bottom: 54%;
    }
    #place-2{
        top: 46%;
    }
    .wait-computer{
        width: 10rem;
        height: 10rem;
        position: absolute;
        bottom: 18rem;
        left: 65%;
    }
}