#btn-retry{
    position: relative;
    width: 12rem;
    top: 15rem;
    height: 2.5rem;
    border-radius: 5px;
    color: hsl(229, 25%, 31%);
    outline: none;
    border: none;

    animation: 2s step-end btn-appears;
}
@keyframes btn-appears{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (min-width: 600px){
    #btn-retry{
        top: 90%;
    }
}